.card-body {
  background-color: rgba(0, 153, 255, 0.911);
}

.input-group-text,
.btn,
.form-check-label {
  color: rgb(128, 0, 115);
  font-weight: bold;
}

#value,
#operand {
  color: purple;
  font-weight: bold;
}

#display {
  max-width: 75px;
}

.input-group-text {
  background-color: aqua;
}

.btn:hover {
  background-color: darkgreen;
}

.btn {
  width: 50px;
  height: 50px;
}

#ope {
  background-color: aquamarine;
}
